
/*=================================================================*/
/*                      POST                              
/*=================================================================*/
.post .category-badge {
    color: #FFF;
    font-size: 13px;
    border-radius: 25px;
    display: inline-block;
    padding: 6px 11px;
    line-height: 1;
    left: 20px;
    top: 20px;
    z-index: 1;
    background: #FE4F70;
    background: -webkit-linear-gradient(left, #FE4F70 0%, #FFA387 51%, #FE4F70 100%);
    background: linear-gradient(90deg, rgba(21,72,115,1) 0%, rgb(4 85 96) 100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .post .category-badge.lg {
    font-size: 14px;
    padding: 8px 20px;
  }
  .post .category-badge:hover {
    background-position: right center;
  }
  .post .post-format {
    color: #FFF;
    display: block;
    border-radius: 50%;
    font-size: 20px;
    height: 50px;
    line-height: 54px;
    right: 20px;
    text-align: center;
    bottom: -25px;
    position: absolute;
    width: 50px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background: #FE4F70;
    background: -webkit-linear-gradient(bottom, #FE4F70 0%, #FFA387 100%);
    background: linear-gradient(to top, #FE4F70 0%, #FFA387 100%);
    z-index: 1;
  }
  .post .post-format-sm {
    color: #FFF;
    display: block;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 34px;
    left: 20px;
    text-align: center;
    top: 20px;
    position: absolute;
    width: 30px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background: #FE4F70;
    background: -webkit-linear-gradient(bottom, #FE4F70 0%, #FFA387 100%);
    background: linear-gradient(to top, #FE4F70 0%, #FFA387 100%);
    z-index: 1;
  }
  .post .thumb {
    position: relative;
  }
  .post .thumb.rounded .inner {
    border-radius: 10px;
    overflow: hidden;
  }
  .post .thumb.circle .inner {
    overflow: hidden;
    border-radius: 50%;
  }
  .post .thumb.top-rounded .inner {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .post .thumb img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .post .thumb:hover img {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
  }
  .post .post-title a {
    color: #203656;
  }
  .post .post-title a:hover {
    color: #203656;
  }
  .post .excerpt {
    font-size: 16px;
  }
  .post .meta {
    font-size: 14px;
    color: #9faabb;
  }
  .post .meta a {
    color: #9faabb;
    font-weight: 600;
  }
  .post .meta a:hover {
    color: #203656;
  }
  .post .meta i {
    vertical-align: middle;
  }
  .post .meta li:last-child:after {
    content: "";
    display: none;
  }
  .post .meta li:after {
    content: "";
    display: inline-block;
    background-color: #203656;
    border-radius: 50%;
    margin-left: 1rem;
    height: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 3px;
  }
  .post .meta li:not(:last-child) {
    margin-right: 0.8rem;
  }
  .post .meta li img.author {
    margin-right: 12px;
    vertical-align: middle;
  }
  .post .post-bottom .social-share .toggle-button {
    font-size: 16px;
    color: #9faabb;
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: middle;
  }
  .post .post-bottom .social-share .icons {
    display: inline;
    vertical-align: middle;
  }
  .post .post-bottom .social-share .icons li a {
    color: #9faabb;
    font-size: 14px;
  }
  .post .post-bottom .social-share .icons li a:hover {
    color: #203656;
  }
  .post .post-bottom .social-share .icons li:not(:last-child) {
    margin-right: 0.8rem;
  }
  .post .post-bottom .more-button a {
    font-size: 16px;
    font-weight: 700;
    color: #9faabb;
  }
  .post .post-bottom .more-button a i {
    color: #9faabb;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
  }
  .post .post-bottom .more-button a:hover {
    color: #FE4F70;
  }
  .post .post-bottom .more-link {
    color: #203656;
    font-size: 17px;
    font-weight: bold;
  }
  .post .post-bottom .more-link i {
    font-size: 12px;
    color: #9faabb;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .post .post-bottom .more-link:hover i {
    right: -5px;
  }
  .post.post-list-sm {
    clear: both;
  }
  .post.post-list-sm.circle .thumb {
    max-width: 60px;
  }
  .post.post-list-sm.circle .details {
    margin-left: 80px;
  }
  .post.post-list-sm.square .thumb {
    max-width: 110px;
  }
  .post.post-list-sm.square .details {
    margin-left: 130px;
  }
  .post.post-list-sm .thumb {
    float: left;
    position: relative;
  }
  .post.post-list-sm .thumb .number {
    color: #FFF;
    display: block;
    border: solid 2px #FFF;
    border-radius: 50%;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height: 24px;
    line-height: 22px;
    left: 0;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 24px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background: #FE4F70;
    background: -webkit-linear-gradient(bottom, #FE4F70 0%, #FFA387 100%);
    background: linear-gradient(90deg, rgba(21,72,115,1) 0%, rgb(4 85 96) 100%);
    z-index: 1;
  }
  .post.post-list-sm .post-title {
    font-size: 15px;
  }
  .post.post-list-sm:after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #EBEBEB;
    background: -webkit-linear-gradient(right, #EBEBEB 0%, transparent 100%);
    background: linear-gradient(to left, #EBEBEB 0%, transparent 100%);
  }
  .post.post-list-sm.before-seperator:before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    background: #EBEBEB;
    background: -webkit-linear-gradient(right, #EBEBEB 0%, transparent 100%);
    background: linear-gradient(to left, #EBEBEB 0%, transparent 100%);
  }
  .post.post-list-sm.before-seperator:after {
    content: "";
    display: none;
  }
  .post.post-list-sm:last-child:after {
    content: "";
    display: none;
  }
  .post.post-list {
    margin-bottom: 30px;
  }
  .post.post-list .thumb {
    float: left;
    max-width: 265px;
  }
  .post.post-list .details {
    margin-left: 295px;
  }
  .post.post-list .post-title {
    margin: 9px 0;
  }
  .post.post-list .post-bottom {
    margin-top: 9px;
  }
  .post.post-list .post-bottom .social-share .icons {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .post.post-list .post-bottom .social-share .icons:before {
    content: "";
    background: #DDD;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
  }
  .post.post-list .post-bottom .social-share .icons.visible {
    opacity: 1;
    visibility: visible;
  }
  .post.post-list:after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background: #EBEBEB;
    background: -webkit-linear-gradient(right, #EBEBEB 0%, transparent 100%);
    background: linear-gradient(to left, #EBEBEB 0%, transparent 100%);
  }
  .post.post-grid .thumb .inner {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
  }
  .post.post-grid .details {
    padding: 30px;
  }
  .post.post-grid .post-bottom {
    border-top: solid 1px #EBEBEB;
    margin: 0 30px;
    padding: 20px 0;
  }
  .post.post-grid .post-bottom .icons {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .post.post-grid .post-bottom .icons:before {
    content: "";
    background: #DDD;
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
  }
  .post.post-grid .post-bottom .icons.visible {
    opacity: 1;
    visibility: visible;
  }
  .post.post-classic {
    margin-bottom: 40px;
  }
  .post.post-classic .thumb .inner {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
  }
  .post.post-classic .details {
    padding: 50px 50px 40px;
  }
  .post.post-classic .details .post-title {
    font-size: 30px;
  }
  .post.post-classic .post-bottom {
    border-top: solid 1px #EBEBEB;
    margin: 0 50px;
    padding: 20px 0;
  }
  .post.post-classic .post-bottom .social-share .toggle-button {
    display: none;
  }
  .post.post-classic .post-format {
    font-size: 24px;
    height: 60px;
    line-height: 64px;
    right: 50px;
    bottom: -30px;
    width: 60px;
  }
  .post.post-xl {
    margin-bottom: 140px;
  }
  .post.post-xl:last-of-type {
    margin-bottom: 80px;
  }
  .post.post-xl .thumb .inner {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
  }
  .post.post-xl .post-top {
    padding: 0 100px;
    margin-bottom: 40px;
  }
  .post.post-xl .post-top .post-title {
    font-size: 36px;
  }
  .post.post-xl .details {
    padding: 50px 100px 50px;
  }
  .post.post-xl .post-bottom {
    border-top: solid 1px #EBEBEB;
    margin: 0 100px;
    padding-top: 20px;
  }
  .post.post-xl .post-bottom .social-share .toggle-button {
    display: none;
  }
  .post.post-xl .post-format {
    font-size: 24px;
    height: 60px;
    line-height: 64px;
    right: 50px;
    bottom: -30px;
    width: 60px;
  }
  .post.post-over-content {
    position: relative;
  }
  .post.post-over-content .thumb {
    position: relative;
    overflow: hidden;
  }
  .post.post-over-content .thumb:after {
    content: "";
    background: #203656;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    top: 0;
    position: absolute;
    width: 100%;
  }
  .post.post-over-content .details {
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
  }
  .post.post-over-content .post-title {
    font-size: 22px;
  }
  .post.post-over-content .post-title a {
    color: #FFF;
  }
  .post.post-over-content .post-title a:hover {
    color: #FFF;
  }
  .post.post-over-content .meta {
    color: rgba(255, 255, 255, 0.5);
  }
  .post.post-over-content .meta li:after {
    content: "";
    background: rgba(255, 255, 255, 0.5);
  }
  .post.post-over-content .meta li a {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .post-single .post-header {
    margin-bottom: 30px;
  }
  .post-single .post-header .title {
    font-size: 36px;
  }
  .post-single .featured-image {
    margin-bottom: 30px;
  }
  .post-single .featured-image img {
    border-radius: 10px;
  }
  .post-single .post-content {
    color: #707a88;
    font-size: 16px;
  }
  .post-single .post-bottom {
    border-top: solid 1px #EBEBEB;
    padding-top: 30px;
    margin-top: 30px;
  }
  .post-single ul li {
    list-style-type: none;
  }

  /*=================================================================*/
/*                      WIDGETS                              
/*=================================================================*/
.widget {
    border: solid 1px #EBEBEB;
    padding: 35px 30px;
    margin-bottom: 40px;
  }
  .widget:last-child {
    margin-bottom: 0;
  }
  .widget.no-container {
    padding: 0;
    border: 0;
  }
  .widget .widget-header {
    margin-bottom: 30px;
  }
  .widget .widget-header img.wave {
    margin-top: 10px;
  }
  .widget .widget-title {
    font-size: 20px;
    margin: 0;
  }
  .widget .widget-about {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .widget .widget-ads {
    display: block;
    text-align: center;
  }
  .widget ul.list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  .widget ul.list li {
    line-height: 2.8rem;
  }
  .widget ul.list li a {
    color: #203656;
    font-weight: 700;
  }
  .widget ul.list li a:before {
    /* content: "î˜†"; */
    color: #FE4F70;
    font-family: "simple-line-icons";
    font-size: 11px;
    vertical-align: middle;
    margin-right: 25px;
  }
  .widget ul.list li a:hover {
    font-weight: 900;
  }
  .widget ul.list li:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #EBEBEB;
    background: -webkit-linear-gradient(left, #EBEBEB 0%, transparent 100%);
    background: linear-gradient(to right, #EBEBEB 0%, transparent 100%);
  }
  .widget ul.list li span {
    float: right;
  }
  .widget ul.list.social-icons li a:before {
    content: "";
    margin-right: 0;
  }

  /*=================================================================*/
/*                      PAGE                              
/*=================================================================*/
.page-header {
    background: #F1F8FF;
    padding: 40px 0;
  }
  .page-header h1 {
    font-size: 30px;
  }
  
  .page-content {
    color: #707a88;
    font-size: 16px;
  }